name: Deploy PROD to Scaleway K8S

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Tag d'image Docker (ex: prod-latest ou prod-<sha>)"
        required: false
        default: "prod-latest"

jobs:
  deploy-prod:
    runs-on: ubuntu-latest

    env:
      REGISTRY: ${{ secrets.SCW_CR_REGISTRY }}
      NAMESPACE: ${{ secrets.SCW_CR_NAMESPACE }}
      IMAGE_REPO: sms-center
      K8S_NAMESPACE: ${{ secrets.K8S_NAMESPACE_PROD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure kubectl (Scaleway cluster)
        run: |
          mkdir -p $HOME/.kube
          cat << 'EOF' > $HOME/.kube/config
          ${{ secrets.KUBE_CONFIG }}
          EOF
          chmod 600 $HOME/.kube/config

      - name: Show current context
        run: |
          kubectl config current-context
          kubectl get nodes

      - name: Apply PROD manifests
        run: |
          kubectl apply -n $K8S_NAMESPACE -f k8s/prod/

      - name: Update image in PROD deployment
        run: |
          IMAGE="${{ env.REGISTRY }}/${{ env.NAMESPACE }}/${{ env.IMAGE_REPO }}:${{ github.event.inputs.image_tag }}"
          echo "Using image: $IMAGE"

          kubectl set image deployment/smscenter-app smscenter-app=$IMAGE -n $K8S_NAMESPACE

      - name: Wait for rollout
        run: |
          kubectl rollout status deployment/smscenter-app -n $K8S_NAMESPACE